{% extends 'base.html' %}

{%  block content %}


    <div class="text-center text-center">
        <div class = "m-5">
            <h4>Quit</h4>
        </div>
        <div>
{#  pk 값으로 어떤 고유값을 삭제할지 정해줘야 한다.          #}
            <form action="{%  url 'accountapp:delete' pk=target_user.pk %}" method="post">
                {% csrf_token %}
                <div class="m-5">
                    <input type="submit"
                           class="btn btn-danger rounded-pill px-5">
                </div>
            </form>
        </div>
    </div>
{% endblock %}