<div style="text-align: center">
    {# google font 'pacifico'뒤에 cursive는 만일 pacifico가 읽히지 않았을떄 사용될 폰트   #}
    <div class="pragmatic_header_logo">
        <h1>Pragmatic</h1>
    </div>
    <div class="pragmatic_header_button">
       <span>nav1</span>
       <span>nav2</span>

{#          유저가 로그아웃된 상태일때      #}
        {% if not user.is_authenticated %}
       <span>
           <a href="{% url 'accountapp:login' %}">
               Login
           </a>
       </span>
       <span>
           <a href="{% url 'accountapp:create' %}">
               Signup
           </a>
       </span>
        {% else %}
        <span>
            <a href="{% url 'accountapp:detail' pk=user.pk %}">
               MyPage
            </a>
        </span>
        <span>
            <a href="{% url 'accountapp:logout' %}">
               Logout
            </a>
        </span>
        {% endif %}
    </div>
</div>

